.item{
    width:100%;
    display:flex;
    flex-direction: column;
    padding:1em;
}
.item.true{
    background-color:black;
    color:white;
}
.item img{
    width:100%; /*100% of the div, fill the div*/
    height:auto; /*height automatically adjust based on its aspect ratio*/
}
