.comment-item{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:1em;
}
.commentitem-right{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
}
.comment-item img{
   border-radius:50%;
}