.signup{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image: url('../../assets/bookshelf.jpg');
    background-size:cover;
}
.newsignup{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:2em;
    border-radius:10px;
    background-color:white;
}
.newsignup.true{
    background-color:black;
    color:white;
}
.signup h1{
    font-size:clamp(2em, 5vw, 10em);
}
.signup p{
    padding-top:1em;
    cursor:pointer;
    position:relative;
}
.signup p::before{
    content:'';
    position:absolute;
    bottom:-3px;
    left:0;
    width:0;
    height:4px;
    background-color: #3848fc;
    border-radius:5px;
    transition: width 0.4s ease;
}
.signup p:hover::before{
    width:100%;
}
.signup p:hover{
    color:#3848fc;
}
.login{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap: 1em;
}
.login input{
    padding: 5px;
    border:1px solid black;
}
.newsignup.true .login input{
    border:1px solid white;
}
.newsignup button{
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
    margin:1em;
    padding:0.5em 2em;
    transition:all 0.4s ease;
    border: 1px solid #3848fc;
}
.newsignup button:hover{
    color:white;
    background-color:#3848fc;
}
