.most-popular{
    padding:1em 1.5em 0 1.5em;
}
.most-popular.true{
  background-color:black;
  color:white;
}
.most-popular h2{
  font-size:clamp(2em, 3vw, 7em);
}
.the-books{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/*the responsivness is handled here, 1fr means 1 fraction of the space*/
}
.the-books.true{
  background-color:black;
  color:white;
}

